<ion-header>
  <ion-toolbar>
    <ion-title>
      Sell your card
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Inputs with labels -->
  <form [formGroup]="myForm">
  <ion-list>
    <ion-item>
        <ion-label position="stacked">Your Name</ion-label>
        <ion-input formControlName="name" type="text" required="true" name="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Remaining days on card</ion-label>
      <ion-input formControlName="days" type="number" required="true" name="days"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="stacked">Price in Dollar</ion-label>
        <ion-input formControlName="price" type="number" required="true" name="price"></ion-input>
      </ion-item>
    <ion-item>
      <ion-label position="stacked">Your Neighborhood</ion-label>
      <ion-input formControlName="neighborhood" type="text" required="true" name="neighborhood"></ion-input>
    </ion-item>
  </ion-list>


  <ion-list>
      <ion-item *ngFor="let entry of paymentMethods">
        <ion-checkbox></ion-checkbox>
        <ion-img slot="end" [src]="entry.path"></ion-img>
        <ion-label>{{entry.val}}</ion-label>
      </ion-item>
    </ion-list>
    <div class="danger" *ngIf="name.invalid || price.invalid || days.invalid || neighborhood.invalid">
        Please fill out all input fields above.
      </div>
    <ion-button (click)="addCard()" expand="full">Submit</ion-button>
  </form>
</ion-content>
