<ion-header>
  <ion-toolbar>
    <ion-title>
      MetroTrade
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item (click)="goWithData(card.name)" *ngFor="let card of cards">
      <ion-img width="20" height="20" src="assets/metrocard.png"></ion-img>
      <div #itemContent>
        <p class="ion-text-right">${{card.price}}</p>
        <p class="ion-text-right">{{card.days}} days remaining</p>
        <p></p>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
